* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
       padding: 100px;
       margin: 0 15px;
       background-image: linear-gradient(to top, rgb(124, 179, 255) , rgb(245, 108, 218));
    #canvas {
        box-shadow: -5px 5px 50px 8px rgba(246, 244, 244, 0.663);
        cursor: pointer;
    }

.tools {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;

    .color {
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: inline-block;
        border-radius: 40%;
        margin: 0 15px;
    }
    .button {
        align-self: center;
        width: 100px;
        height: 40px;
        border-radius: 30px;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        color: white;
        background: black;

    }
    .color-picker {
        align-self: center;
        margin: 0 10px;
        height: 40px;
        width: 40px;
        border-radius: 20%;
        border-color: yellow;
        cursor: pointer;

    }
    .pen-range {
        align-self: center;
        margin: 0 8px;
        cursor: pointer;


    }
}}}
